@model TTCMS.Web.Areas.TT_Admin.Models.UserProfileViewModel
<div id="modal-form" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">@TTCMS.Resources.Resources.EditUser</h4>
            </div>
            @using (Html.BeginForm("ProfileChange", "UserManagement", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 change-password">
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">@TTCMS.Resources.Resources.UserName</label>
                                <div class="col-sm-7">
                                    @Model.UserName
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">@TTCMS.Resources.Resources.FirstNameText</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.FullName, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.FullName })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">@TTCMS.Resources.Resources.FullName</label>
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(x => x.FullName, new { @class = "col-xs-12 col-sm-12", @placeholder = TTCMS.Resources.Resources.FullName })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        @TTCMS.Resources.Resources.CancelText
                    </button>

                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="ace-icon fa fa-check"></i>
                        @TTCMS.Resources.Resources.btnUpdateSubmit
                    </button>
                </div>
            }
        </div>
    </div>
</div>
<!-- PAGE CONTENT ENDS -->
<script>
    $.validator.unobtrusive.parse($("form"));
</script>