@model TTCMS.Web.Areas.TT_Admin.Models.ListTableViewModel
@using PagedList.Mvc;
@Html.HiddenFor(m=>m.Page)
<table class="table table-striped table-bordered table-hover" id="simple-table">
    <thead>
        <tr>
            <th class="center">
                <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </th>
            <th>@TTCMS.Resources.Resources.Key</th>
            <th>@TTCMS.Resources.Resources.Text</th>
            <th>@Html.Action("_TabLanguage", "Base")</th>
            <th class="hidden-480">@TTCMS.Resources.Resources.Sort</th>
            <th>
                <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                @TTCMS.Resources.Resources.Created
            </th>
            <th class="hidden-480">@TTCMS.Resources.Resources.Status</th>
            <th>@TTCMS.Resources.Resources.Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FunctionList)
        {
            <tr id="item_@item.Id">
                <td class="center">
                    <label class="pos-rel">
                        <input type="checkbox" class="ace" value="@item.Id">
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>
                    @item.Id
                </td>
                <td>@item.Text</td>
                <td>@Html.Action("_TabLanguge", "Function", new { Id = item.Id })</td>
                <td class="hidden-480">@item.Order</td>
                <td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
                <td class="hidden-480">
                    @if (item.IsLocked == true)
                    {
                        <span class="label label-sm label-success arrowed arrowed-right"><i class="fa fa-unlock"></i> Active</span>
                    }
                    else
                    {
                        <span class="label label-sm label-danger arrowed arrowed-right"><i class="fa fa-unlock-alt"></i> NotActive</span>
                    }
                </td>
                <td>
                    <div class="hidden-sm hidden-xs btn-group">
                        <a href="@Url.Action("Edit", "Function", new {Id = item.Id })" title="@TTCMS.Resources.Resources.EditPost" class="btn btn-xs btn-info">
                            @TTCMS.Resources.Resources.EditText
                        </a>
                        @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.Id },
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "Delete",
                                            Confirm = TTCMS.Resources.Resources.ConfirmText,
                                            UpdateTargetId = @item.Id,
                                            OnSuccess = "onSuccess"
                                        }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                        @*<a href="@Url.Action("Delete", "Function", new {Id = item.Id })" title="Xóa bài viết" class="btn btn-xs btn-danger">
                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                        </a>*@
                    </div>
                    <div class="hidden-md hidden-lg">
                        <div class="inline pos-rel">
                            <button data-position="auto" data-toggle="dropdown" class="btn btn-minier btn-primary dropdown-toggle">
                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                <li>
                                    <a title="@TTCMS.Resources.Resources.EditPost"  class="btn btn-xs btn-info" href="@Url.Action("Edit", "Function", new {Id = item.Id })">
                                            @TTCMS.Resources.Resources.EditText
                                    </a>
                                </li>
                                <li>
                                    @Ajax.ActionLink(TTCMS.Resources.Resources.DeleteText, "Delete", new { Id = item.Id },
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "Delete",
                                            Confirm = TTCMS.Resources.Resources.ConfirmText,
                                            UpdateTargetId = @item.Id,
                                            OnSuccess = "onSuccess"
                                        }, new { @class = "btn btn-xs btn-danger DeleteDialog", @title = TTCMS.Resources.Resources.DeletePost })
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="col-xs-6"><div class="dataTables_info" id="dynamic-table_info" role="status" aria-live="polite">@TTCMS.Resources.Resources.Page @(Model.FunctionList.PageCount < Model.FunctionList.PageNumber ? 0 : Model.FunctionList.PageNumber) @TTCMS.Resources.Resources.Of @Model.FunctionList.PageCount</div></div>
    <div class="col-xs-6 no-padding">
        <div class="dataTables_paginate paging_simple_numbers" id="ajax_paging">
            @Html.PagedListPager(Model.FunctionList, page => Url.Action("Index",
                                new { page, show=Model.Show }))
        </div>
</div>
</div>