@model TTCMS.Web.Models.Product.ProductHomeViewModel[]
<ul class="nav secondary-nav visible-affix">
    <li class="nav-cart">
        <a href="#" data-toggle="dropdown"><i class="hd hd-cart"></i><span class="circle Count_Cart">@ShoppingCart.Cart.Count</span> <span class="hd-cart-text">Giỏ hàng</span></a>
        <div class="dropdown-menu dropdown-cart" role="menu">
            <div class="minicart__wrapper">
                    @foreach (var item in Model)
                    {
                <div class="minicart__item" id="minicart__item__@item.Id"><div class="minicart__item__info"><img alt="" src="@item.Img_Thumbnail"><div class="minicart__item__name"><div><a href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()">@item.Name - 
                    @if (item.MaSP != "")
                    {
                        <span style="color: #999;">Mã SP: @item.MaSP</span>
                    }
                    </a></div>
                    <span class="minicart__item__price price"><span class="price__value">@string.Format("{0:#,###}", item.Price)</span><span class="price__symbol">đ</span></span> x @item.Views</div></div><div class="minicart__item__actions"><a class="btn-close show-on-hover cart-remove" title="Xóa khỏi giỏ hàng" data-product="@item.Id" rel="nofollow" href="#">x</a></div></div>
                 }
             </div>
            <div class="minicart__summary">
                Tổng cộng: <strong>
                    <span class="price price--highlight">
                        <span class="price__value cart_total">@string.Format("{0:#,###}", ShoppingCart.Cart.Total)</span>
                        <span class="price__symbol">Đ</span>
                    </span>
                </strong>
            </div>
            <div class="minicart__actions">
                <a class="btn btn--view-cart" href="@Url.Action("Index","Cart")" rel="nofollow">Xem giỏ hàng</a>
                <a class="btn btn-success btn--buy-now btn--buy-now-new" href="@Url.Action("ThongTinDonHang", "Cart")" rel="nofollow">Đặt hàng</a>
            </div>
        </div>
    </li>
</ul>
