@model TTCMS.Domain.ProductColor[]

@if (Model.Count() > 0)
{
    int icount = 0;
    foreach (var item in Model)
    {
        <tr id="image-row@(item.ProductId)@icount" class="pn-img-color">
            <td><img style="max-width:100px" alt="" src="@item.UrlImage" id="Color_Thumbnail@(item.ProductId)@icount" class="img-responsive"></td>
            <td><div class="input-group"><input type="text"  value="@item.UrlImage" placeholder="Link image" id="Color_Thumb@(item.ProductId)@icount" class="form-control" name="ColorImages[@icount][Url]"><span class="input-group-btn"></span></div></td>
            <td>
                <select id="MauSac" class="form-control" name="ColorImages[@icount][Color]">
                    @foreach (var color in ViewBag.MauSac)
                    {
                        if (color.Id == item.CategoryId)
                        {
                            <option selected="selected" value="@color.Id">@color.Name</option>
                        }
                        else
                        {
                            <option value="@color.Id">@color.Name</option>
                        }
                    }
                    
                </select>
            </td>
            <td>
                <a class="btn default btn-sm" onclick="$('#image-row@(item.ProductId)@icount').remove();" href="javascript:;"> <i class="fa fa-times"></i> Remove</a>
            </td>
        </tr>
        icount++;
    }
    <input type="hidden" id="edit_color" value="@icount" />
}

