@model TTCMS.Web.Models.Product.CateHomeViewModel[]
@if (Model.Any())
{
    foreach (var cate in Model)
    {
        if (cate.ListProductNews.Count > 0)
        {
            int icount = 1;
            <div class="block block--tab tab-style-branding branding" id="block-@XString.ToAscii(cate.Name)-@(cate.Id)">
                <div class="block__header clearfix" style="border-top-color: @cate.CodeColor;">
                    <h2 class="block__title" style="background-color: @cate.CodeColor;">
                        <span class="block__branding" style="background-color: @cate.CodeColor;"><i class="@cate.CssClass"></i></span>
                        <a href="@Url.Action("Category", new { Id = cate.Id, alias = cate.Route }).ToLower()">@cate.Name</a>
                    </h2>
                    <div class="block__tab">
                        <ul class="tab nav nav-pills">
                            <li class="tab__item active">
                                <a data-toggle="tab" href="#@XString.ToAscii(cate.Name)-moi"
                                   data-title="@cate.Name mới nhất" data-url="@Url.Action("Category", new { Id = cate.Id, alias = cate.Route }).ToLower()">Mới nhất</a>
                            </li>
                            <li class="tab__item ">
                                <a data-toggle="tab" href="#@XString.ToAscii(cate.Name)-ban-chay"
                                   data-title="@cate.Name bán chạy" data-url="@Url.Action("Category", new { Id = cate.Id, alias = cate.Route, field="hot"}).ToLower()">Bán chạy</a>
                            </li>
                            <li class="tab__item ">
                                <a data-toggle="tab" href="#@XString.ToAscii(cate.Name)-gia-tot"
                                   data-title="@cate.Name giá tốt" data-url="@Url.Action("Category", new { Id = cate.Id, alias = cate.Route, field="price"}).ToLower()">Giá tốt</a>
                            </li>
                        </ul>
                    </div>
                    <div class="block__nav">
                        <ul>
                            @foreach (var item in cate.ListParent)
                            {
                                <li><a href="@Url.Action("Category", new { Id = item.Id, alias = item.Route }).ToLower()">@item.Name</a></li>
                            }
                            <li><a href="@Url.Action("Category", new { Id = cate.Id, alias = cate.Route }).ToLower()">Xem tất cả <i class="fa fa-long-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="block__content tab-content clearfix">
                    <div role="tabpanel" class="tab-pane active" id="@XString.ToAscii(cate.Name)-moi">
                        <div class="row products products--mobile">
                            <div class="products__inner">
                                @foreach (var item in cate.ListProductNews)
                                {
                                    <div class="col-md-3 product-wrapper " id="product-@item.Id-wrapper">
                                        <div class="product product-kind-1"
                                             id="product-@item.Id"
                                             itemscope itemtype="http://schema.org/Product"
                                             data-toggle="box-link" data-url="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()">
                                            <div class="product__image">
                                                <a href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()" title="@item.Name">
                                                    <img itemprop="image" class="lazy" width="280" height="280"
                                                         data-original="@item.Img_Thumbnail"
                                                         data-src-mobile="@item.Img_Thumbnail"
                                                         src="@item.Img_Thumbnail"
                                                         alt="@item.Name" />
                                                    @if (item.IsHot)
                                                    {
                                                        <span class="icon-hot hot">HOT</span>
                                                    }
                                                    <div class="item__meta">
                                                        <span class="view" href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()">Xem Ngay</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product__header">
                                                <h3 class="product__title">
                                                    <a href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()" itemprop="name" title="@item.Name">@item.Name</a>
                                                    <meta itemprop="brand" content="" />
                                                </h3>
                                            </div>
                                            <div class="product__info">
                                                <div itemtype="http://schema.org/Offer" itemscope="" itemprop="offers" class="product__price">
                                                    <meta content="VND" itemprop="priceCurrency">
                                                    <span class="price">
                                                        <span itemprop="price" class="price__value">@string.Format("{0:#,###}", item.GiaKM)</span><span class="price__symbol">đ</span>
                                                        <span class="price__discount">-@item.Percent%</span>
                                                    </span>
                                                </div>
                                                <div style="display: inline-block;" class="product__price product__price--list-price">
                                                    <span class="price price--list-price">
                                                        <span class="price__value">@string.Format("{0:#,###}", item.GiaBan)</span><span class="price__symbol">đ</span>
                                                    </span>
                                                </div>
                                                <div class="product__stats">
                                                    <div class="product__views">
                                                        <i class="hd hd-user"></i> @(item.DaMua > 0 ? string.Format("{0:#,###}", item.DaMua) : "0")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="@XString.ToAscii(cate.Name)-ban-chay">
                        <div class="row products products--mobile">
                            <div class="products__inner">
                                @foreach (var item in cate.ListProductHot)
                                {
                                    <div class="col-md-3 product-wrapper " id="product-@item.Id-wrapper">
                                        <div class="product product-kind-1"
                                             id="product-@item.Id"
                                             itemscope itemtype="http://schema.org/Product"
                                             data-toggle="box-link" data-url="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()">
                                            <div class="product__image">
                                                <a href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()" title="@item.Name">
                                                    <img itemprop="image" class="lazy" width="280" height="280"
                                                         data-original="@item.Img_Thumbnail"
                                                         data-src-mobile="@item.Img_Thumbnail"
                                                         src="@item.Img_Thumbnail"
                                                         alt="@item.Name" />
                                                    <div class="item__meta">
                                                        <span class="view" href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()">Xem Ngay</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product__header">
                                                <h3 class="product__title">
                                                    <a href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()" itemprop="name" title="@item.Name">@item.Name</a>
                                                    <meta itemprop="brand" content="" />
                                                </h3>
                                            </div>
                                            <div class="product__info">
                                                <div itemtype="http://schema.org/Offer" itemscope="" itemprop="offers" class="product__price">
                                                    <meta content="VND" itemprop="priceCurrency">
                                                    <span class="price">
                                                        <span itemprop="price" class="price__value">@string.Format("{0:#,###}", item.GiaKM)</span><span class="price__symbol">đ</span>
                                                        <span class="price__discount">-@item.Percent%</span>
                                                    </span>
                                                </div>
                                                <div style="display: inline-block;" class="product__price product__price--list-price">
                                                    <span class="price price--list-price">
                                                        <span class="price__value">@string.Format("{0:#,###}", item.GiaBan)</span><span class="price__symbol">đ</span>
                                                    </span>
                                                </div>
                                                <div class="product__stats">
                                                    <div class="product__views">
                                                        <i class="hd hd-user"></i> @(item.DaMua > 0 ? string.Format("{0:#,###}", item.DaMua) : "0")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="@XString.ToAscii(cate.Name)-gia-tot">
                        <div class="row products products--mobile">
                            <div class="products__inner">
                                @foreach (var item in cate.ListProductPrice)
                                {
                                    <div class="col-md-3 product-wrapper " id="product-@item.Id-wrapper">
                                        <div class="product product-kind-1"
                                             id="product-@item.Id"
                                             itemscope itemtype="http://schema.org/Product"
                                             data-toggle="box-link" data-url="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()">
                                            <div class="product__image">
                                                <a href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()" title="@item.Name">
                                                    <img itemprop="image" class="lazy" width="280" height="280"
                                                         data-original="@item.Img_Thumbnail"
                                                         data-src-mobile="@item.Img_Thumbnail"
                                                         src="@item.Img_Thumbnail"
                                                         alt="@item.Name" />
                                                    <div class="item__meta">
                                                        <span class="view" href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()">Xem Ngay</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product__header">
                                                <h3 class="product__title">
                                                    <a href="@Url.Action("Detail","Product", new { Id = item.Id, alias = item.Route }).ToLower()" itemprop="name" title="@item.Name">@item.Name</a>
                                                    <meta itemprop="brand" content="" />
                                                </h3>
                                            </div>
                                            <div class="product__info">
                                                <div itemtype="http://schema.org/Offer" itemscope="" itemprop="offers" class="product__price">
                                                    <meta content="VND" itemprop="priceCurrency">
                                                    <span class="price">
                                                        <span itemprop="price" class="price__value">@string.Format("{0:#,###}", item.GiaKM)</span><span class="price__symbol">đ</span>
                                                        <span class="price__discount">-@item.Percent%</span>
                                                    </span>
                                                </div>
                                                <div style="display: inline-block;" class="product__price product__price--list-price">
                                                    <span class="price price--list-price">
                                                        <span class="price__value">@string.Format("{0:#,###}", item.GiaBan)</span><span class="price__symbol">đ</span>
                                                    </span>
                                                </div>
                                                <div class="product__stats">
                                                    <div class="product__views">
                                                        <i class="hd hd-user"></i> @(item.DaMua > 0 ? string.Format("{0:#,###}", item.DaMua) : "0")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block__footer clearfix">
                    <a class="btn block__more" href="@Url.Action("Category", new { Id = cate.Id, alias = cate.Route }).ToLower()">
                        Xem tất cả&nbsp;<span>@cate.Name mới nhất</span> <i class="fa fa-caret-right"></i>
                    </a>
                </div>
            </div>
            <style>
                    #block-@XString.ToAscii(cate.Name)-@(cate.Id) .active a::after
                    {
                        border-top-color: @cate.CodeColor;
                    }
            </style>
        }

    }

}
